*.swp
*.bak
*.egg
*.egg-info
*__pycache__/
*.py[cod]
*$py.class
.Python
.cache
build/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
*.egg-info/
.installed.cfg
.gitconfig
*.egg
MANIFEST
pip-log.txt
docs/_build/
tmp
